/*embedding style*/
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* side nav and offCanvas nav bar styles */
.sideNavText {
  font-size: 12px;
}
div ul li a i {
  vertical-align: top;
  display: inline-flex;
}
#sidebar-nav ul li a i span {
  padding-right: 9px;
}
.alignIcon {
  padding-right: 7px;
}
.nav-item {
  font-size: 16px;
}
.nav-item:hover {
  background-color: lightgray;
}
#canvasTogglerDiv {
  padding-left: 25px;
}
.offcanvas {
  width: 300px;
}
/* Modal pop up style*/
.modal-backdrop {
  z-index: 1;
}
.modal-content {
  height: 400px;
}
.modal-dialog {
  max-width: 850px;
  margin: 2rem auto;
}
.modal-body {
  padding-left: 150px;
  padding-top: 50px;
}

.modalMike {
  margin-top: 200px;
  padding-left: 250px;
}
/* Modal window style ends*/

/* For Carousel indicator next visibility */
.carousel-control-next-icon {
  filter: invert(100%);
}
.carousel-item,
.carousel-item .active {
  padding-left: 80px;
}

carousel-inner {
  padding-left: 60px;
}
#carouselDiv {
  margin-left: 15%;
  margin-top: 2%;
}
/* For Responsive - starts */
@media only screen and (max-width: 600px) {
  #fixedNav {
    display: none;
  }
  header {
    flex-wrap: wrap;
  }
  .offcanvas {
    width: 250px;
  }
  #canvasTogglerDiv {
    padding-left: 0px;
  }
}
/* For Responsive - ends */
